<div id="footer">
  <div class="footer-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>Getting Started</p>
          <span class="footer-links">
            <a href="#">Start Your Campaign</a><br />
            <a href="#">Success Stories</a><br />
            <a href="#">Support</a><br />
            <a href="#">FAQ</a>
          </span>
        </div>

        <div class="col-md-4">
          <p>About</p>
          <div class="col-md-8 no-padding-left">
            <span class="footer-links">
              <a href="#">Blog</a><br />
              <a href="#">Privacy Policy</a><br />
              <a href="#">Press</a>
            </span>
          </div>
          <div class="col-md-4 no-padding-left">
            <span class="footer-links">
              <a href="#">Jobs</a><br />
              <a href="#">Terms of Use</a>
            </span>
          </div>
        </div>
        
        <div class="col-md-4">
          <p class="right">
            <img src="<%= asset_path 'wecrowd_social-media.png' %>" alt="WeCrowd Social Media" />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>