<!-- Footer -->
<section class="widgets">
    <div id="site-footer" class="wrapper">

        <!-- First column -->
        <article class="widget blank">
            <h4 class="widget-title">Getting Started</h4>
                <p><span class="widget-title">
                <a href="#">Start Your Campaign</a><br />
                <a href="#">Success Stories</a><br />
                <a href="#">Support</a><br />
                <a href="#">FAQ</a>
                </span></p>
        </article>

        <!-- Second column -->
        <article class="widget blank">
            <h4 class="widget-title">About</h4>
            <p><span>
            <a href="#">Blog</a><br />
            <a href="#">Privacy Policy</a><br />
            <a href="#">Press</a><br />
            <a href="#">Jobs</a><br />
            <a href="#">Terms of Use</a>
            </span></p>
        </article>

        <!-- Third column -->
        <article class="widget blank">
            <h4><span class="social">
                <img src="/assets/wecrowd_social-media.png" />
            </span></h4>
        </article>

    </div>    
</section>