<div style="display:none" class="intro-header alert alert-warning">
  <h3>Experience Seamless White Label Payments with WePay Clear</h3>
  <p>This site illustrates how a typical platform can use WePay Clear to create a seamless, partner-branded payments experience.</p>
  <p>Click the “Start Buyer’s Demo” button to experience the payment flow for someone donating to a crowdfunding campaign.</p>
  <p>Click the “Start Seller’s Demo” button to walk through the steps in setting up a new campaign, from creating the campaign page, to hooking up a bank account, to receiving donations.</p>

  <a href="#" data-dismiss="alert" aria-hidden="true">Close</a>
</div>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-expand">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="logo" src="<%= asset_path 'wecrowd.png' %>" alt="WeCrowd" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="menu-expand">
      <ul class="nav navbar-nav">
        <li class="regular"><a data-start-demo="buyer" href="/campaign/1">Start Buyer's Demo</a></li>
        <li class="regular"><a data-start-demo="seller" href="/campaign/new">Start Seller’s Demo</a></li>
        <% if signed_in? %>
          <% if current_user.is_admin? %>
            <li><a href="/admin">Admin</a></li>
          <% end %>
          <li><a href="/user/view/<%= current_user.id %>">My Campaigns</a></li>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/campaign/new">Create a Campaign</a></li>
          <li><a href="/login">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if current_page?(root_path) %>
<div class="header-container">
  <header class="jumbotron header-container-content">
    <h1>The best way to raise money<br />for any cause</h1>  
    <hr>
    <p>WeCrowd has helped raise over 651 million dollars!</p>
  </header>
</div>
<% else %>
<% end %>