<!-- Blue header -->
<header id="title-header">
    <div class="wrapper">
        <h1>
            The best way to raise money<br />for any cause
            <div class="title-line">
            </div>
        </h1>
        <h3>WeCrowd has helped raise over 651M!</h3>
    </div>
</header>