<!-- campaign row list -->
<ul class="row list">
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
	</ul> <!-- end campaign row list -->
<!-- campaign row list -->
<ul class="row list">
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
	<!-- campaign card -->
	<li class="campaign col col-3">
		<div class="border clip campaign-card-wrap campaign-card-wrap-tall">
			<div class="campaign-card relative">
				
				<!-- campaign image -->
				<div class="campaign-thumbnail clip">
					<a href="campaign.html">
						<img alt="campaign image" class="fit" src="assets/campaign1.jpg" width="100%" />
					</a>
				</div>
				<div class="campaign-card-interior grey-dark">
					<!-- campaign title -->
					<h3 class="campaign-title mobile-center">
						<a class="campaign-dark-title" href="#">Last Trip to Moraine Lake, Banff</a>
					</h3>
					<!-- campaign location -->
					<h5 class="location-name mobile-hide">
						Vancouver, Canada
					</h5>
				</div>

				<!-- campaign location -->
				<div class="campaign-card-footer absolute-bottom">
					<ul class="campaign-meta mobile-hide">
						<li>
							<h1 class="grey-light" id="money">
								$150
							</h1>
						</li>
					</ul>

					<div class="campaign-stats-wrap">
						<!-- Pledge bar completion -->
						<div class="campaign-pledged-wrap bg-grey clip">
							<div class="campaign-pledged bg-orange full-height" style="width: 25%"></div>
						</div>
						<ul class="campaign-stats list h6">
							<!-- Percentage funded -->
							<li class="inline-block">
								<strong class="block h6 num">25%</strong>
							</li>
							<li class="inline-block">
								<span class="block h6 num">10 days left</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li> <!-- end campaign card -->
</ul> <!-- end campaign row list -->