<div data-step="1" data-intro="Click on any of the featured campaigns to make a donation. <br /> If you are trying to donate to a campaign you created, use the link from your campaign detail page..">
<h3>Featured Campaigns</h3>
</div>
<div class="row text-center">
	<% for i in (0...8) %>
  <div class="col-md-3 col-sm-6 main-content-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500" alt="">
      <div class="caption">
        <h3><a href="#">Campaign Name</a></h3>
        <p>Palo Alto, CA</p>
      </div>

      <div class="absolute-bottom">
        <div class="thumbnail-footer">
          <h1 class="inline-block">
            $25,000
          </h1>
          <h5 class="inline-block">
            USD
          </h5>

          <div class="campaign-progress-bar bg-gray">
            <div class="bg-orange full-height" style="width: 25%"></div>
          </div>

          <p class="inline-block" id="percent">
            25%
          </p>
          <p class="inline-block right">
            10 days left
          </p>
        </div>
      </div>
    </div>
  </div>
	<% end %>
</div>

<div class="demo">
  <div class="demo title">Welcome to the WeCrowd Demo.</div>
  <div class="demo content">
    <p>This site illustrates how a typical platform can integrate using WePay Clear to create a seamless, partner-branded payments experience.</p>
    <p>Use the buttons below to tour the buyer’s (donor’s), seller’s (donee’s) experience, or explore on your own.</p>
    <p>You can start either tour from the buttons in the header at any time.</p>
  </div>
</div>