<div class="row">
  <div class="col-md-5">
    <h2>WeCrowd Terms of Service</h2>
    <p>WeCrowd is an example app only and is provided "as-is".</p>
    <p>You can find the WeCrowd source code on Github.</p>
    <p>In the Terms of Service for your own app, you should reference the 
      <a href="https://www.wepay.com/legal/terms-of-service">WePay Terms of Service</a> 
      such that acceptance of your ToS also includes acceptance of the WePay ToS.</p>
  </div>
</div>