# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 46b695793bbe16e27ec8ba5570143639d925a1fbaa5d792dea276c3e17b94bfb7f39be3640dea1203aa35a64aba7b41a61a380aa8cbe04fe7ba4204eb2a5511c
  client_id: <%= ENV['WECROWD_CLIENT_ID'] %>
  client_secret: <%= ENV['WECROWD_CLIENT_SECRET'] %>
  account_id: <%= ENV['WECROWD_ACCOUNT_ID'] %>
  access_token: <%= ENV['WECROWD_ACCESS_TOKEN'] %>
  host: http://vm.wecrowd.com
  use_stage: true

test:
  secret_key_base: 51c13b36e82d51895e171ef142acbcb2750aba99d5ec07264c4a748642cb18e05e3f1ed7b6a519645936b9a766b2938a54bf139271868900d649e09d9ef9eac6
  client_id: <%= ENV['WECROWD_CLIENT_ID'] %>
  client_secret: <%= ENV['WECROWD_CLIENT_SECRET'] %>
  account_id: <%= ENV['WECROWD_ACCOUNT_ID'] %>
  access_token: <%= ENV['WECROWD_ACCESS_TOKEN'] %>
  host: http://vm.wecrowd.com
  use_stage: true

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["WECROWD_SECRET_KEY_BASE"] %>
  client_id: <%= ENV['WECROWD_CLIENT_ID'] %>
  client_secret: <%= ENV['WECROWD_CLIENT_SECRET'] %>
  account_id: <%= ENV['WECROWD_ACCOUNT_ID'] %>
  access_token: <%= ENV['WECROWD_ACCESS_TOKEN'] %>
  host: http://23.253.70.240
  use_stage: true
