<div class="row">
  <div class="col-lg-7 main-content-feature">
    <div class="row main-content-feature">
        <% if @update_uri %>
          <h3>Manage Your Payment Settings</h3>
          <p>Use the panel below to sign into WePay and manage your payment settings.</p>
          <p>Once you have verified your identity and added your bank account information, all money in your account will be automatically deposited into your bank account.</p>
          <p><a href="/user/view/<%= @user.id %>">&larr; Back to my profile.</a></p>
          <div id="spacer"></div>

          <div class="wepay-iframe-container embed-responsive embed-responsive-16by9">
            <iframe class="wepay-iframe barier embed-responsive-item" src="<%= @update_uri %>"></iframe>
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="demo">
  <div class="demo title">KYC Info &amp; Add Bank Account</div>
  <div class="demo content">
    <p class="p-modal">This is the Know Your Customer (KYC) info page. With WePay Clear, the look of this page customized to match your existing site.</p>
    <p class="p-modal">You can fill this in with fake information. Use 422-35-7073 for the social security number.</p>
    <p class="p-modal"><b>Click Verify Information</b> to add your bank next.</p>
    <p class="p-modal">To add your bank, you can use 021000021 as the routing number and 123 as the account number. <b>Click Add Bank</b> to finish.</p>
    <p class="p-modal">Notice how this page, and the 2 pages before, are designed to feel like a wizard that is natively part of the WeCrowd site? Feel free to exit the demo and explore WeCrowd on your own. If you have any questions, please contact sales@wepay.com. Thanks!</p>
  </div>
</div>