@charset "UTF-8";

body {
    color: #0f2105;
    font: 16px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
}

h1, .h1 {
    font-size: 32px;
    line-height: 50px;
}
h2, .h2 {
    font-size: 24px;
    line-height: 30px;
}
h3, .h3 {
    font-size: 18px;
    line-height: 24px;
}
h4, .h4 {
    font-size: 16px;
    line-height: 20px;
}
h5, .h5 {
    font-size: 14px;
    line-height: 20px;
}
h6, .h6 {
    font-size: 12px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
}

p, address {
    margin: 0 0 20px 0;
}

a, a:visited {
    text-decoration: none;
    outline: 0;
}

p a, p a:visited {
    line-height: inherit;
}

.logo img {
    width: 180px;
    height: auto;
}

* html {
    zoom: 1;
}

.clearfix, .row {
    *zoom: 1;
}
.clearfix:before, .row:before, .clearfix:after, .row:after {
    content: " ";
    display: table;
}
.clearfix:after, .row:after {
    clear: both;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    padding-right:10px;
    padding-left:10px;
    margin-bottom: 20px;
}

.border {
    border-width:1px;
    border-style:solid;
    border-color:#d9d9de
}

.clip, .no-scroll {
    overflow:hidden
}

.grey-dark {
    color:#828587;
}

.grey-light {
    color:#aab5bc;
    font-size: 35px;
}

.location-name {
    white-space:nowrap;
    overflow:hidden;
    margin: 0 1.25em 20px 1.1em;
}

.bg-grey {
    background-color:#d9d9de
}

.bg-orange {
    background-color:#ef5e27
}

.full-height {
    height:100%
}

.inline-block {
    display:inline-block;
    margin: 1.1em 0 1.5em 1.5em;
}

.block {
    display:block
}

.absolute-center {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto
}

.absolute-bottom {
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    margin-right:auto;
    margin-left:auto
}

.relative {
    position:relative
}

.absolute {
    position:absolute
}

.fixed {
    position:fixed
}

.fit {
    max-width:100%
}

.num {
    color: #73818a;
    font-weight: none;
}


/***********************************

SITE HEADER

************************************/

#site-header {
    padding: 0 20px;
}

#site-header .wrapper {
    padding: 35px 0 45px;
}

#site-header .wrapper.no-border {
    border: none;
}

#site-header .logo {
    display: inline-block;
    margin-right: -.6em;
    width: 24%;
    vertical-align: bottom;
}

#site-header .logo h1 {
    font-size: 1.5em;
    line-height: 1;
}

#site-header .logo h1 a, #site-header .logo h1 img {
    float: left;
    max-width: 100%;
}

#site-header #main-nav {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-right: -.5em;
 /* clears inline-block spacing */
    width: 76%;
    text-align: right;
    vertical-align: bottom;
}

#site-header #main-nav .toggle {
    display: none;
}

#site-header #main-nav > ul {
    list-style: none;
    font-size: 15px;
    display: inline-block;
}

#site-header #main-nav ul {
    margin: 0;
}

#site-header #main-nav ul li {
    display: inline-block;
    margin-left: 15px;
    padding: 5px 0 0;
}

#site-header #main-nav ul li.section {
    position: relative;
    cursor: default;
    padding: 5px 0 0;
}

#site-header #main-nav ul li.section span:before {
    display: none;
    float: right;
}

#site-header #main-nav ul li a {
    text-decoration: none;
    padding: 5px 2px 0 0;
}

#site-header #main-nav ul li.login-signup a {
    color: #ef5e27;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 14px;
    border: 1px solid #ef5e27;
    padding: 5px 15px 5px 15px;
    margin-right: -5px;
}

#site-header #main-nav ul li.login-signup a:hover {
    background-color: #feefe9;
}

#site-header #main-nav ul li.demo a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: #ef5e27;
    border: 1px solid #ef5e27;
    padding: 5px 15px 5px 15px;
    margin-right: -5px;
}

#site-header #main-nav ul li ul {
    display: none;
    width: 175px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5;
    padding: 0;
    border-top-width: 1px;
    border-top-style: solid;
    -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#site-header #main-nav ul li ul li {
    display: block;
    text-align: left;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    width: 100%;
}

#site-header #main-nav ul li ul li a {
    padding: 8px 10px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#site-header #main-nav ul li ul li a:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#site-header #main-nav ul li ul li.current a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#site-header #main-nav ul li:hover ul {
    display: block;
}


/***********************************

BLUE TITLE HEADER

************************************/

#title-header {
    border: 0;
    height: 300px;
    padding: 0;
    margin: 0 auto 40px;
    max-width: 100%;
}

#title-header .wrapper {
    padding: 50px 0 45px;
}

#title-header h1 {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

#title-header h1 .title-line {
    border-bottom: 3px solid #ffffff;
    margin: auto;
    padding-top: 35px;
    width: 100px;
}

#title-header h3 {
    color: #ffffff;
    font-weight: bold;
    padding-top: 35px;
    text-align: center;
}


/***********************************

MAIN CONTENT

************************************/

#main-content {
    overflow: hidden;
    padding: 0 20px;
}

#main-content .wrapper {
    font-size: .875em;
    padding-bottom: 30px;
    padding-top: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#main-content > section {
    margin: 10px auto 0 auto;
}

#main-content #subheader {
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#main-content #subheader span {
    width: 75%;
    display: block;
    font-size: 3.429em;
    line-height: 1;
}

#main-content #page-title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.2;
}

#main-content section img {
    max-width: 100%;
}


/***********************************

MAIN CONTENT - MENU

************************************/

#main-content .menu section.content-editor {
    margin-bottom: 30px;
}

#main-content .menu .section-titles {
    margin: 0 0 20px;
    float: left;
    width: 100%;
    text-align: center;
}

#main-content .menu .section-titles li {
    display: inline-block;
    float: none;
}

#main-content .menu .section-titles li a {
    text-decoration: none;
    padding: 0px;
    margin: 0 10px 0 0;
    font-size: .9em;
}

#main-content .menu .menu-list {
    margin-bottom: 10px;
}

#main-content .menu .menu-list li.menu-item {
    margin: 0;
    padding: 0;
}

#main-content .menu .menu-list li.menu-item.has-sub-items {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 15px 0 35px 0;
    padding: 0;
}

#main-content .menu .menu-list li.menu-item.has-sub-items h2.section-title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    float: none;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

#main-content .menu .menu-list li.menu-item.has-sub-items ul.sub-items {
    padding: 10px 0;
}

#main-content .menu .menu-list li.menu-item .price {
    display: inline-block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    margin: 12px 0;
    width: 10%;
}

#main-content .menu .menu-list li.menu-item h2.item-title {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1;
    margin: 10px 0;
}

#main-content .menu .menu-list li.menu-item .description {
    margin-bottom: 10px;
}

#main-content .menu .menu-list li.menu-item h2.item-title, #main-content .menu .menu-list li.menu-item .description {
    float: right;
    width: 90%;
}

#main-content .menu .menu-list .section-title {
    font-size: 2em;
}

#main-content .menu.two-column ul.sub-items li.menu-item {
    float: left;
    width: 50%;
}

#main-content .menu.two-column ul.sub-items li.menu-item .description, #main-content .menu.two-column ul.sub-items li.menu-item h2.item-title {
    width: 77%;
}

#main-content .menu.two-column ul.sub-items li.menu-item p.price {
    width: 20%;
}

#main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n+1) {
    clear: left;
}

#main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n+1) .description, #main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n+1) h2.item-title {
    padding-right: 3%;
}

#main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n) p.price {
    padding-left: 3%;
}


/***********************************

MAIN CONTAINER

************************************/

.top-container {
    max-width:100%;
    margin-right:auto;
    margin-left:auto;
}

.main-container {
    max-width: 960px;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}


/***********************************

WIDGETS

************************************/

.widgets {
    overflow: hidden;
}

.widgets .wrapper {
    overflow: hidden;
    padding: 30px 20px 0;
    font-size: .75em;
}

.widgets .widget {
    width: 31.3%;
    float: left;
    margin: 0 3% 20px 0;
}

.widgets .widget:nth-child(3n) {
    margin-right: 0;
}

.widgets .widget:nth-child(3n+4) {
    clear: left;
}

.widgets .widget h2.widget-title {
    margin-bottom: 0;
    font-size: 1.167em;
}

.widgets .widget h2.widget-title a {
    margin-bottom: 10px;
}

.widgets .widget ul {
    padding: 0;
    border-top-width: 1px;
    border-top-style: solid;
}

.widgets .widget ul li {
    padding: 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.widgets .widget ul li:last-child {
    border-bottom: none;
}

.widgets .widget a:hover {
    text-decoration: underline;
}

.widgets .widget .date {
    display: block;
    font-size: .85em;
}

.widgets .widget .date a {
    display: block;
}

.widgets .widget p {
    margin-bottom: 0;
}

.widgets .blank h1 {
    font-size: 2em;
}

.widgets .blank h2 {
    font-size: 1.8em;
    color: inherit;
}

.widgets .blank h3 {
    font-size: 1.6em;
}

.widgets .blank h4 {
    font-size: 1.4em;
}

.widgets .blank h5 {
    font-size: 1.2em;
}

.widgets .blank h6 {
    font-size: 1em;
}

.widgets .blank p {
    line-height: 20px;
    margin-bottom: 20px;
}

.widgets .blank h2.widget-title {
    color: #aab5bc;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.widgets .blank i, .widgets .blank em {
    font-style: italic;
}

.widgets .blank b, .widgets .blank strong {
    font-weight: bold;
}

.widgets .blank ul {
    padding-left: 20px;
    margin-bottom: 20px;
    border: none;
}

.widgets .blank ul li {
    margin-bottom: .5em;
    padding: 0;
    list-style-type: disc;
    border: none;
}


/***********************************

FOOTER

************************************/

#site-footer {
    padding-top: 40px;
}

#site-footer .wrapper {
    font-size: .75em;
    min-height: 100%;
    position: relative;
}


/***********************************

CAMPAIGN CARDS

************************************/

.campaign-card-wrap {
    clear:both
}
.campaign-card-wrap .campaign-title {
    line-height:1.65em;
    margin: 1em 1em 0.25em 1em;
}
.campaign-dark-title {
    color:#ef5e27;
}
.campaign-meta  {
    margin: 0 0 0.75em 1em;
}
.campaign-card-wrap .successful .campaign-pledged-successful {
    display:block;
    padding-top:3px;
    padding-bottom:3px
}
.campaign-card-wrap .tmpl-hide {
    display:none
}
.campaign-card-wrap .tmpl-campaigns-friends_backings {
    background-color:#2bde73;
    text-align:center
}

@media screen and (max-width: 640px) {
    .campaign-card-wrap .campaign-title {
        font-size:16px;
        font-weight: bold;
        margin-bottom:10px
    }
    .campaign-card-wrap .campaign-thumbnail {
        padding:0
    }
    .campaign-card-wrap .campaign-thumbnail img {
        width:100%;
        height:auto
    }
    .campaign-card-wrap .campaign-card-footer {
        position:relative
    }
    .campaign-card-wrap ul.campaign-stats {
        display:-webkit-box;
        display:-moz-box;
        display:-ms-box;
        display:box;
        -webkit-box-align:center;
        -moz-box-align:center;
        -ms-box-align:center;
        -o-box-align:center;
        box-align:center;
        line-height:1.6em
    }
    .campaign-card-wrap ul.campaign-stats strong {
        font-size:16px
    }
    .campaign-card-wrap ul.campaign-stats li:not(.backers) {
        -webkit-box-flex:1;
        -moz-box-flex:1;
        -ms-box-flex:1;
        -o-box-flex:1;
        box-flex:1;
        display:block
    }
    .campaign-card-wrap .campaign-pledged-wrap {
        height:8px;
        overflow:hidden
    }
    .campaign-card-wrap .campaign-pledged-wrap .campaign-pledged {
    }
}
.campaign-card-wrap-tall .campaign-pledged-successful, .campaign-card-wrap-tall-big .campaign-pledged-successful {
    margin-left:-10px;
    margin-right:-10px
}

@media screen and (min-width: 640px) {
    .campaign-card-wrap-tall .campaign-pledged-wrap, .campaign-card-wrap-tall-big .campaign-pledged-wrap {
        height:6px;
        margin: 0 1.1em 0 1.1em;
    }
    .campaign-card-wrap-tall .campaign-pledged-wrap .campaign-pledged, .campaign-card-wrap-tall-big .campaign-pledged-wrap .campaign-pledged {
    }
    .campaign-card-wrap-tall .campaign-stats, .campaign-card-wrap-tall-big .campaign-stats {
        line-height:1.25em
    }
}
@media screen and (max-width: 640px) {
    .campaign-card-wrap-tall .campaign-title, .campaign-card-wrap-tall-big .campaign-title {
        white-space:nowrap;
        overflow:hidden;
        -webkit-text-overflow:ellipsis;
        -moz-text-overflow:ellipsis;
        -ms-text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        text-overflow:ellipsis
    }
}
@media screen and (min-width: 640px) {
    .campaign-card-wrap-tall .campaign-card {
        height:390px
    }
    .campaign-card-wrap-tall .campaign-thumbnail {
        height:150px
    }
}
@media screen and (min-width: 640px) {
    .campaign-card-wrap-tall-big .campaign-card {
        height:458px
    }
    .campaign-card-wrap-tall-big .campaign-stats li:not(:last-child) {
        margin-right:30px
    }
}
@media screen and (min-width: 640px) {
    .campaign-card-wide-wrap .campaign-thumbnail {
        width:320px;
        height:240px
    }
    .campaign-card-wide-wrap .campaign-card-interior {
        height:240px
    }
}
@media screen and (max-width: 640px) {
    .campaign-card-wide-wrap .campaign-title {
        margin-bottom:20px
    }
    .campaign-card-wide-wrap .campaign-card-footer {
        margin-right:10px
    }
    .campaign-card-wide-wrap .campaign-pledged-successful {
        margin-left:-20px;
        margin-right:-30px;
        text-align:center
    }
}

@media only screen and (max-width: 1024px) {
    #site-header .wrapper {
        position: relative;
    }
}

@media only screen and (max-width: 767px) {
    #main-content > #subheader span {
        font-size: 75%;
        width: 100%;
    }

    #main-content .menu ul.menu-list li.menu-item {
        margin: 10px 0;
    }

    #main-content .menu ul.menu-list li.menu-item .price {
        display: inline-block;
        float: none;
        font-size: 1.4em;
        margin-right: 5px;
        width: auto;
    }

    #main-content .menu ul.menu-list li.menu-item h2.item-title {
        float: none;
        width: auto;
    }

    #main-content .menu ul.menu-list li.menu-item .description {
        float: left;
        width: 100%;
    }

    #main-content .menu.two-column ul.sub-items li.menu-item {
        margin: 10px 0;
        float: none;
        width: 100%;
    }

    #main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n+1) .description, #main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n+1) h2.item-title {
        padding-right: 0;
        width: auto;
    }

    #main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n+1) p.price {
        width: auto;
    }

    #main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n) .description, #main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n) h2.item-title {
        width: auto;
    }

    #main-content .menu.two-column ul.sub-items li.menu-item:nth-child(2n) p.price {
        padding-left: 0;
        width: auto;
    }

    .widgets .widget {
        float: left;
        margin-bottom: 20px;
        width: 47%;
    }

    .widgets .widget:nth-child(3n) {
        margin-right: 3%;
    }

    .widgets .widget:nth-child(3n+4) {
        clear: none;
    }

    .widgets .widget:nth-child(2n+1) {
        margin-right: 3%;
    }

    .widgets .widget:nth-child(2n) {
        margin-right: 0;
    }

    .widgets .widget:nth-child(2n+3) {
        clear: left;
    }
}

@media only screen and (min-width: 701px) {
    #site-header #main-nav > ul {
        opacity: 1!important;
        display: block!important;
        height: auto!important;
    }
}

@media only screen and (max-width: 700px) {
    #site-header {
        padding: 0;
        text-align: center;
    }

    #site-header .wrapper {
        padding: 20px 0 0;
        border-bottom: none;
    }

    #site-header .logo {
        float: left;
        padding: 0 20px;
        text-align: center;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #site-header .logo h1 a, #site-header .logo h1 img {
        float: none;
    }

    #site-header #main-nav .toggle {
        display: block;
        padding: 10px 20px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-top-style: none;
        border-top-width: 1px;
        border-bottom-style: none;
        border-bottom-width: 1px;
        margin: 20px 0 0;
    }

    #site-header #main-nav .toggle a {
        display: block;
        position: relative;
        text-align: left;
        width: 100%;
        font-size: .9em;
    }

    #site-header #main-nav .toggle a:before {
        float: right;
        display: inline;
        font-size: .9em;
        margin-right: 0;
        bottom: auto;
        vertical-align: middle;
    }

    #site-header #main-nav > ul {
        border: none;
        display: none;
        float: left;
        padding: 0;
        position: relative;
        width: 100%;
    }

    #site-header #main-nav > ul li, #site-header #main-nav > ul li.section {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: block;
        margin: 0;
        padding: 0;
    }

    #site-header #main-nav > ul li a, #site-header #main-nav > ul li.section span {
        cursor: pointer;
        display: block;
        padding: 10px 45px 10px 20px;
    }

    #site-header #main-nav > ul li.section span:before {
        display: block;
    }

    #site-header #main-nav > ul li.section ul {
        border-top: none;
        left: auto;
        position: relative;
        top: auto;
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #site-header #main-nav > ul li.section ul li {
        border-bottom: none;
        border-top-style: solid;
        border-top-width: 1px;
    }

    #site-header #main-nav > ul li.section ul li a {
        border: none;
        padding: 10px 10px 10px 20px;
    }

    #site-header #main-nav > ul li.section ul li.current a, #site-header #main-nav > ul li.section ul li a:hover {
        border: none !important;
    }

    #site-header #main-nav > ul li.section:hover ul {
        display: none;
    }

    #site-header #main-nav > ul li.section:after {
        display: block;
        height: 0;
        position: absolute;
        top: 17px;
        right: 39px;
        width: 0;
    }

    #site-header #main-nav > ul li.section.open:after {
        top: 8px;
    }

    #site-header #main-nav > ul li.section.open ul {
        display: block;
    }

    #site-header #main-nav.open > ul {
        display: block;
    }

    #main-content .menu.two-column ul.sub-items li.menu-item {
        width: 100%;
    }

    .widgets .wrapper {
        padding: 40px 20px 0;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 120%;
    }

    .wrapper {
        padding: 0 20px;
    }

    #main-content .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #main-content > #subheader {
        font-size: 1em;
    }

    #main-content > #subheader span {
        font-size: 65%;
    }

    #main-content .index ul li a .titles {
        font-size: 0.7em;
    }

    .widgets .widget {
        margin-bottom: 20px;
        width: 100%;
    }

    .widgets .widget:nth-child(2n+1) {
        margin-right: 0;
    }

    .widgets .widget:nth-child(2n) {
        margin-left: 0;
    }

    .widgets .widget:nth-child(2n+3) {
        clear: none;
    }
}

@media only screen and (max-width: 500px) {
    #main-content #subheader {
        font-size: 1em;
    }

    #main-content #subheader span {
        font-size: 1.5em;
        line-height: 1.3;
        width: 100%;
    }
}

@media (min-width: 640px) {
    .col {
        float:left
    }
    .col-right {
        float:right
    }
    .col-center {
        margin-right:auto;
        margin-left:auto
    }
    .col-1 {
        width:8.33333%
    }
    .col-pre-1 {
        margin-left:8.33333%
    }
    .col-post-1 {
        margin-right:8.33333%
    }
    .col-2 {
        width:16.66667%
    }
    .col-pre-2 {
        margin-left:16.66667%
    }
    .col-post-2 {
        margin-right:16.66667%
    }
    .col-3 {
        width:25%
    }
    .col-pre-3 {
        margin-left:25%
    }
    .col-post-3 {
        margin-right:25%
    }
    .col-4 {
        width:33.33333%
    }
    .col-pre-4 {
        margin-left:33.33333%
    }
    .col-post-4 {
        margin-right:33.33333%
    }
    .col-5 {
        width:41.66667%
    }
    .col-pre-5 {
        margin-left:41.66667%
    }
    .col-post-5 {
        margin-right:41.66667%
    }
    .col-6 {
        width:50%
    }
    .col-pre-6 {
        margin-left:50%
    }
    .col-post-6 {
        margin-right:50%
    }
    .col-7 {
        width:58.33333%
    }
    .col-pre-7 {
        margin-left:58.33333%
    }
    .col-post-7 {
        margin-right:58.33333%
    }
    .col-8 {
        width:66.66667%
    }
    .col-pre-8 {
        margin-left:66.66667%
    }
    .col-post-8 {
        margin-right:66.66667%
    }
    .col-9 {
        width:75%
    }
    .col-pre-9 {
        margin-left:75%
    }
    .col-post-9 {
        margin-right:75%
    }
    .col-10 {
        width:83.33333%
    }
    .col-pre-10 {
        margin-left:83.33333%
    }
    .col-post-10 {
        margin-right:83.33333%
    }
    .col-11 {
        width:91.66667%
    }
    .col-pre-11 {
        margin-left:91.66667%
    }
    .col-post-11 {
        margin-right:91.66667%
    }
    .col-12 {
        width:100%
    }
    .col-pre-12 {
        margin-left:100%
    }
    .col-post-12 {
        margin-right:100%
    }
}

@media (max-width: 640px) {
    .mobile-block, .mobile-show {
        display:block
    }
    .mobile-hide {
        display:none
    }
    .mobile-center {
        text-align:center
    }
    .mobile-left-align {
        text-align:left
    }
    .mobile-right {
        float:right
    }
    .mobile-left {
        float:left
    }
    .mobile-clear {
        float:none
    }
    .mobile-inline {
        display:inline
    }
}