.btn-orange {
  background-color: #ee5e26;
  border: 0;
  color: #ffffff;
  letter-spacing: 0.1em;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
}

.btn-orange a, a:hover {
  color: #ffffff;
  font-weight
  text-decoration: none;
}