.campaign-details p {
	font-size: 14px;
}

.campaign-details h1 {
	color: #ef5e27;
	font-size: 37px;
	font-weight: 300;
}

.campaign-details h3 {
	color: #3a4b53;
	font-size: 20px;
	font-weight: 400;
}

.campaign-details hr {
    border: 2px solid #ef5e27;
    margin-top: 40px;
    width: 80px;
}


/* Edit Button */
.btn-edit-orange {
	background-color: #ef5e27;
	border-radius: 0;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 1px;
	outline: 0;
	padding: 10px 0;
	text-transform: uppercase;
	min-width: 20%;
}

.btn-edit-orange:hover {
	color: #ffffff;
}


/* Edit Campaign Details Form */
.input-lg.campaign-gray {
	border-radius: 0;
	box-shadow: none;
	color: #728186;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
	padding: 15px;
}

.form-control.campaign-gray {
	border: 2px solid #f2f2f2;
	border-radius: 0;
}

.btn-dropdown-campaign {
	border-radius: 0;
	border: 2px solid #f2f2f2;
	color: #cccccc;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

.btn-dropdown-campaign:hover {
	background-color: transparent;
	border-color: #f2f2f2;
	color: #728186;
}


/* Campaign Caret */
.btn .caret-campaign {
	width: 10px;
	margin-top: 7px;
}

.caret-campaign {
	border-top: 7px solid;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}

.intro-header {
	margin-top:-60px;
}

.wepay-iframe-container {
	height:550px;
}