<div class="row">
  <div class="col-md-5">
    <h2>What is MFA?</h2>
    <p>Multi Factor Access (MFA) adds an extra layer of protection to your account. Whenever you sign into WeCrowd, you'll need to enter both your password and also a security code sent to your mobile phone. .</p>
    <p>When you login into your account from a new computer or device, you'll have to enter in the security code that was sent to your phone via text message.</p>
    <p>You can decide if you want to trust this computer and not to ask for the code in the future. Or if you are using a public computer (e.g. in the library) and this computer should not be trusted.</p>
  </div>
</div>