<%= form_tag("/mfa/confirm/#{@user.id}", :class => 'col-md-3 col-md-offset-4') do %>
      <h1> MFA Enabled!</h1>
      <br><br>

    <p>The code that you entered on the previous page has been verified and confirmed.</p>
    <br> <br>
    <div class="form-group">
      <a href = "/user/view/<%= @user.id %>"> View Campaigns</a>
    </div>
<% end %>

