<%= form_tag("/mfa/google_auth_challenge/#{@user.id}", :class => 'col-md-3') do %>
    <head>
      <h2>MFA using Google Authenticator</h2>
      <p> Scan this image using Google Authenticator and enter in the code you receive.</p>
    </head>
    <body>

    <div class="row">

     <%= image_tag @auth_url.to_s%>
    </div>



    <div class="form-group">
      <label for="code">Enter your code here<b>*</b></label>
      <%= text_field_tag(:code, params[:code], :class => 'text form-control', :placeholder => '6 digit code', :maxlength => 255) %>
    </div>

    <div class="row main-content-feature">
      <label for="trust_computer"><%= check_box_tag(:trust_computer, true, true) %>
        <!--  Trust <a target="_blank" href="/mfa/trust"/a> this computer. -->
        Trust this computer
        <a data-toggle="modal" data-target = "#myModal" >?</a>
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="btn-orange">Confirm Code</button>
    </div>
    </body>
<% end %>


<div class="modal fade" id = "myModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Trust this computer for 30 days</h4>
      </div>
      <div class="modal-body">
        <p> You can choose to remember this computer for 30 days. This means that you can log in to WeCrowd without having to go through the MFA flow while the computer remains trusted. </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $("#myModal").change(function()
            {
                $("#myModal").modal('show');

            }
    )
</script>