<div class="row">
  <div class="col-md-5">
    <h2>Trust this computer for 30 days</h2>
    <p>If you lose your phone, you might be able to access your account from a trusted computer without needing a code. We recommend that you make this a trusted computer only if you trust the people who have access to it.</p>
  </div>
</div>