<div class="campaign-public">

  <div id="spacer"></div>
  
  <div class="col-lg-12 main-content-feature text-center">
    <div class="row">
      <h1><%= @campaign.name %></h1>
      <hr>
    </div>
  </div>
  
  <div class="col-lg-12 main-content-feature text-center">
    <div class="row">
      <h3>Thank you for your donation of $<%= @payment.amount %>!</h3>
    </div>
  </div>
  
  <div class="col-lg-12 main-content-feature text-center">
    <div class="row">
      <p><a href="/campaign/<%= @campaign.id %>">&larr; return to <%= @campaign.name %></a></p>
    </div>
  </div>
  
</div>

<div class="demo">
  <div class="demo title">Congrats Page</div>
  <div class="demo content">
    <p>That's it! You'll get a custom receipt from WeCrowd.</p>
    <p>If you began this demo as a seller, click the profile button to continue.</p>
    <p>With WePay Clear, WeCrowd can offer its
    own branded experience enabling its users to
    accept payments, while WePay manages risk
    and compliance from behind the scenes. It’s
    all the benefits of building your own payments
    offering with none of the drawbacks.</p>
    <p>If you want to learn how your platform can
    leverage WePay Clear, get in touch with us at
    <a href="mailto:sales@wepay.com">sales@wepay.com</a>.</p>
  </div>
</div>